@model LoginViewModel
@{
    ViewData["Title"] = Model.PageTitle;
}

<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Local Account</h1>
        <h4 class="text-center">Please log in before placing an order.</h4>

        @{
            if (Model.ExternalLogins.Any())
            {
                <form method="post" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                    <div class="text-center">
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            if (provider.Name == "Google")
                            {
                                <button type="submit" class="btn btn-link" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                    <i class="fa fa-google" aria-hidden="true"></i>
                                </button>

                            }
                            else if (provider.Name == "Facebook")
                            {
                                <button type="submit" class="btn btn-link" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </button>
                            }
                        }
                    </div>
                </form>
            }
        }

        <form method="post">         
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>

            <input type="hidden" asp-for="ReturnUrl" />

            <div class="form-group">
                <label asp-for="Email" class="col-md-2 offset-md-2 control-label"></label>
                <div class="col-md-8 offset-md-2">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="col-md-2 offset-md-2 control-label"></label>
                <div class="col-md-8 offset-md-2">
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe" class="col-md-8 offset-md-2 control-label">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-8 offset-md-2">
                    <input type="submit" class="btn btn-block btn-success" value="Log in" />
                </div>
            </div>

            <div class="form-group">  
                <div class="text-center">
                    <a asp-controller="Account" asp-action="ForgotPassword">Forgot Password?</a>
                </div>
            </div>
        </form>
    </div>
</div>
