@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-6">
        <h1>Local Account</h1>
        <h2>Please log in before placing an order.</h2>
        <form method="post">
            <h4>Enter your details below</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="ReturnUrl" />

            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe" class="col-md-4 control-label">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-success" value="Login" />
                </div>
            </div>

            <div class="form-group">
                <a asp-controller="Account" asp-action="ForgotPassword">Forgot Password?</a>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h1>External Login</h1>
        <hr />
        @{
            if (Model.ExternalLogins.Any())
            {
                <form method="post" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                    <div>
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Login using your @provider.DisplayName account">@provider.DisplayName</button>
                        }
                    </div>
                </form>
            }
            else
            {
                <div>No external logins configured.</div>
            }
        }
    </div>
</div>
