@model OrderDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Order Details</h1>
<hr />

<div>
    <dl class="row border">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine1)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine2)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderPlaced)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.OrderPlaced)
        </dd>
    </dl>

    <hr />

    <table class="table table-bordered">
        <thead class="bg-light text-center">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetails[0].Pizza.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetails[0].Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDetails[0].Price)
                </th>                     
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (var item in Model.OrderDetails)
            {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Pizza.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Amount) szt.
                </td>
                <td>
                    @Html.DisplayFor(model => item.Price) zł
                </td>
            </tr>
            }    
        <tr>
            <td colspan="2" class="text-center">Total</td>
            <td class="text-center bg-dark text-light">
                @Model.OrderTotal.ToString("c")
            </td>
          
        </tr>
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
