@model OrderDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderPlaced)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderPlaced)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>

    <hr />

    <dl class="row">

        @foreach (var item in Model.OrderDetails)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.Pizza.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Pizza.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.Amount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Amount)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Price)
            </dd>

        }
    </dl>

    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderTotal)
        </dd>
    </dl>
</div>
<div>   
    <a asp-action="Index">Back to List</a>
</div>
