@model OrderIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Orders</h1>
<hr />

<table class="table table-bordered">
    <thead class="bg-light text-center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].AddressLine1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].AddressLine2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].OrderTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].OrderPlaced)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressLine1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressLine2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @item.OrderTotal.ToString("c")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderPlaced)
                </td>

                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
