@model ShoppingCartIndexViewModel

@{
    ViewData["Title"] = "Index";
}

    <div class="row">
        <h2>Your shopping cart</h2>

        <table class="table table-bordered">          
            <tbody>
                @foreach (var line in Model.Items)
                {
                    var photoPath = "~/images/pizzas/" + (line.Pizza.PhotoPath ?? "noimage.jpg");

                    <tr class="text-center">
                        <td><img src="@photoPath" asp-append-version="true" alt="pizza" style="height: auto; width:100px;"/></td>
                        <td>@line.Pizza.Name</td>
                        <td>@line.Pizza.Price.ToString("c") x @line.Amount</td>
                        <td>
                            @((line.Amount * line.Pizza.Price).ToString("c"))
                        </td>
                        <td>
                            <a class="text-danger" asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-pizzaId="@line.Pizza.Id"><i class="fa fa-minus-square fa-2x"></i></a>
                            <a class="text-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-pizzaId="@line.Pizza.Id"><i class="fa fa-plus-square fa-2x"></i></a>
                        </td>
                        <td>
                            <a class="text-danger" asp-controller="ShoppingCart" asp-action="RemoveItemFromShoppingCart" asp-route-pizzaId="@line.Pizza.Id"><i class="fa fa-trash fa-2x"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total:</td>
                    <td class="text-right">
                        @Model.ShoppingCartTotal.ToString("c")
                    </td>
                </tr>
            </tfoot>
        </table>

        <div class="text-left">
            <div class="btn-group">
                    <a class="btn btn-link" asp-controller="Pizza" asp-action="Index">Continue</a>
                    <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Check out</a>        
            </div>
        </div>
    </div>
