@model ShoppingCartViewModel

@{
    ViewData["Title"] = "Index";
}

    <div class="row">
        <h2>Your shopping cart</h2>
       
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Pizza</th>
                    <th class="text-right">Price</th>
                    <th class="text-right">SubTotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in Model.Items)
                {
                    <tr>
                        <td class="text-center">@line.Amount</td>
                        <td class="text-left">@line.Pizza.Name</td>
                        <td class="text-right">@line.Pizza.Price.ToString("c")</td>
                        <td class="text-right">
                            @((line.Amount * line.Pizza.Price).ToString("c"))
                        </td>
                        <td class="text-center"><a class="text-danger" asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-pizzaId="@line.Pizza.Id"><i class="fa fa-minus-square"></i></a></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total:</td>
                    <td class="text-right">
                        @Model.ShoppingCartTotal.ToString("c")
                    </td>
                </tr>
            </tfoot>
        </table>

        <div class="text-right">
            <div class="btn-group ">
                <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Check out</a>
                @*<a class="btn-group">
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Add more drinks<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a asp-controller="Drink" asp-action="List" asp-route-category="Alcoholic">Alcoholic</a></li>
                        <li><a asp-controller="Drink" asp-action="List" asp-route-category="Non-alcoholic">Non Alcoholic</a></li>
                    </ul>
                </a>*@
            </div>
        </div>
    </div>
